@use 'base' as base;

// LOGO
.logo {
  height: 3.25rem;
  margin-left: 2rem;
}

// SEARCH BOX
.search {
  flex: 0 0 40%;

  // Nested flexbox - Flex item becoming a flex container
  display: flex;
  align-items: center; // Align items for cross axis
  justify-content: center; // Justify content for main axis

  @media only screen and (max-width: base.$bp-phone-smallest) {
    order: 1; // Change the order of the search box to 1 to move it to the end of the header
    flex: 0 0 100%; // Set width to 100% to take up full width at smallest screen size and wrap to the next line, no grow, no shrink
    background-color: var(--color-grey-light-2); // Add the same background color as the input to stretch the search box to the full width
  }

  &__input {
    // Input does not inherit automatically. Use inherit to inherit from parent (header in this case)
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: .7rem 2rem;
    border-radius: 100px;
    width: 90%; // Not 100% so we can expand on focus
    transition: all .2s; // Transition for focus effect
    margin-right: -3.5rem; // Use negative margin to overlap the button (icon)

    &:focus {
      // Increase from 90 to 100% and darken on focus (when clicked to type)
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3);
    }

    // Style the placeholder text using webkit speudo placeholder element
    &::-webkit-input-placeholder {
      // Placeholder font size inherits from input font size
      font-weight: 100;
      color: var(--color-grey-light-4);
    }
  }

  // Set background color of button to match input when input is focused
  &__input:focus + &__button {
    background-color: var(--color-grey-light-3);
  }

  &__button {
    border: none;
    background-color: var(--color-grey-light-2);
    cursor: pointer;

    &:focus {
      // When hovered, remove outline
      outline: none;
    }

    &:active {
      // When clicked, move down slightly for click effect
      transform: translateY(2px);
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3); // Use fill with SVGs to change color
  }
}

// USER NAVIGATION
.user-nav {
  display: flex;
  align-items: center;
  align-self: stretch; // Align self to stretch to full height of parent container (header)

  // Select user-nav and all of its direct children
  & > * {
    display: flex;
    align-items: center;
    padding: 0 2rem;
    cursor: pointer;
    height: 100%; // Set height to 100% to match height of parent container (header) on hover

    &:hover {
      background-color: var(--color-grey-light-2);
    }
  }

  &__icon-box {
    position: relative; // Parent element of notification with position absolute requires position relative
  }

  &__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-2);
  }

  &__notification {
    font-size: .8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: var(--color-white);
    position: absolute; // To position notification inside icon box
    top: 1.5rem;
    right: 1.1rem;
    // Use flexbox to center text (number) inside notification
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem;
  }
}

// SIDE NAVIGATION
.side-nav {
  font-size: 1.4rem;
  list-style: none; // remove bullets
  margin-top: 3.5rem;

  // Use flexbox to align nav items in a row across the top of the container at medium screen size
  @media only screen and (max-width: base.$bp-medium) {
    display: flex;
    margin-top: 0; // Get rid of the top margin
  }

  &__item {
    position: relative; // Required for before pseudo element positioning

    &:not(:last-child) { // Select all items except the last one
      margin-bottom: 1rem;

      // Remove the margin bottom at medium screen size
      @media only screen and (max-width: base.$bp-medium) {
        margin-bottom: 0;
      }
    }

    // Set flex to 1 to allow sidenav items to grow as much as possible (evenly) across the container at medium screen size
    @media only screen and (max-width: base.$bp-medium) {
      flex: 1;
    }
  }

  // Create a before pseudo element to create a line on the left side of the list item
  &__item::before {
    content: ""; // Set content to empty string to create pseudo element
    position: absolute;
    top: 0;
    left: 0;
    height: 100%; // Exactly same hieght as list item (parent)
    width: 3px;
    background-color: var(--color-primary);
    transform: scaleY(0); // Initially scale to 0 to hide. Use scaleY to scale vertically
    transform-origin: center; // Scale from center (this is the default)
    // Transition for animation effects
    transition: transform .2s, // First transform for vertical line
                width .4s cubic-bezier(1,0,0,1) .2s; // Second transform for 100% width of line. Use cubic-bezier and delay the width transition by .2s
                background-color: .1s // Third transform for background color change on click

  }

  // On hover, scale the pseudo element to show it
  &__item:hover:before,
  // Style the --active to show the background color and line with before pseudo element
  &__item--active:before {
    transform: scaleY(1); // Scale the pseudo element on hover using scaleY to make it grow vertically
    width: 100%; // Make the line full width to match the width of the list item
  }

  // Use active::before to style the button when it's being clicked
  &__item:active::before {
    background-color: var(--color-primary-light);
  }

  &__link:link,
  &__link:visited {
    color: var(--color-grey-light-1);
    text-decoration: none; // remove underline
    text-transform: uppercase;
    display: block; // Make link full width
    padding: 1.5rem 3rem;
    position: relative; // Required for z-index to work
    z-index: 10; // Set z-index to 10 to make sure it's on top of the pseudo element

    // Align Icon and title
    display: flex;
    align-items: center;

    // Inside the link, center the links in the nav bar with flexbox and padding at medium screen size
    @media only screen and (max-width: base.$bp-medium) {
      justify-content: center;
      padding: 2rem
    }

    // At phone screen size, change to direction column to position the icon above the text in each nav item
    @media only screen and (max-width: base.$bp-phone) {
      flex-direction: column;
      padding: 1.5rem .5rem; // Decrease padding to make the nav items smaller
    }
  }

  &__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor; // Use currentColor to inherit color from parent

    // At phone screen size
    @media only screen and (max-width: base.$bp-phone) {
      margin: 0 0 .7rem 0; // Remove margin right and add margin bottom to space out the icon and text
      width: 1.5rem; // Make the icon smaller
      height: 1.5rem;
    }
  }
}

// LEGAL TEXT
.legal {
  font-size: 1.2rem;
  color: var(--color-grey-light-4);
  text-align: center;
  padding: 2.5rem;

  // Remove the legal text at medium screen size
  @media only screen and (max-width: base.$bp-medium) {
    display: none;
  }
}

// GALLERY
.gallery {
  display: flex;

  &__photo {
    width: 100%; // Always give images a width or height
    display: block // To avoid a whitespace issue under the image
  }
}

// HOTEL OVERVIEW
.overview {
  display: flex;
  align-items: center; // Align items for cross axis
  border-bottom: var(--border);

  @media only screen and (max-width: base.$bp-mobile-lg) {
    flex-wrap: wrap;
  }

  &__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem;
    white-space: nowrap; // Prevent header from wrapping to the next line

    // At phone screen size
    @media only screen and (max-width: base.$bp-phone) {
      font-size: 1.8rem; // Decrease font size
      padding: 1.25rem; // Decrease padding to shrink the whole overview section
    }
  }

  &__stars {
    margin-right: auto; // Push stars to the left
    display: flex; // Use flexbox to remove default whitespace under svg elements
  }

  &__icon-star,
  &__icon-location {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary);
  }

  &__location {
    font-size: 1.2rem;
    display: flex;
    align-items: center;

    @media only screen and (max-width: base.$bp-mobile-lg) {
      order: 1;
      flex: 1 0 calc(100% - 1.25rem);
      padding: 0 0 1.25rem 1.25rem;
    }
  }

  &__icon-location {
    margin-right: .5rem;
  }

  &__rating {
    background-color: var(--color-primary);
    color: var(--color-white);
    margin-left: 3rem;
    align-self: stretch; // Override align-items: center to stretch only this container to the full height of its parent container
    padding: 0 2.25rem;
    // Align the text inside the rating container
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    // At phone screen size
    @media only screen and (max-width: base.$bp-phone) {
      margin-left: 2rem;
      padding: 0 1.5rem;
    }
  }

  &__rating-average {
    font-size: 2.25rem;
    font-weight: 300;

    // At phone screen size
    @media only screen and (max-width: base.$bp-phone) {
      font-size: 1.8rem;
    }
  }

  &__rating-count {
    font-size: .8rem;
    text-transform: uppercase;

    // At phone screen size
    @media only screen and (max-width: base.$bp-phone) {
      font-size: .7rem;
    }
}
}

// BUTTON
.btn-inline {
  border: none;
  color: var(--color-primary);
  font-size: inherit;
  border-bottom: 1px solid currentColor; // Use currentColor to inherit color from parent, as well as the color on hover
  padding-bottom: 2px; // Padding between text and border-bottom (underline)
  display: inline-block; // Make the button inline
  background-color: transparent; // Remove background color
  cursor: pointer;
  transition: all .2s; // Transition for hover effect

  // Use a wrapper modifier on the button to make it full width and wrap to the next line at medium screen size
  @media only screen and (max-width: base.$bp-medium) {
    &--wrapper {
      flex-basis: 100%; // Set flex-basis to 100% to make the button full width and wrap to the next line
      max-width: max-content; // Limit the width to the content width to avoid stretching the button
      margin-left: auto; // Push the button to the right for styling
    }
  }

  // Remove margin left at small screen size to re-center the button
  @media only screen and (max-width: base.$bp-small) {
    &--wrapper {
      margin-left: 0; // Re-center the button
    }
  }

  & span { // Span for arrow next to show all button
    margin-left: 3px;
  }
  &:hover {
    color: var(--color-grey-dark-1);
    outline: none;
    animation: pulsate 1s infinite; // Use animation for pulsate effect, 1s duration, infinite loop

    span {
      margin-left: 8px; // Increase margin to move arrow further
      transform: margin-left .2s; // Transition for arrow movement
    }
  }
}

// PULSE ANIMATION -  Normal, scale up with box shadow, then back to normal
@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }

  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(var(--color-black), .25);
  }

  100% {
    transform: scale(1);
    box-shadow: none;
  }
}

// PARAGRAPH
// Use last-of-type to remove margin bottom from the last paragraph (last child won't work because it will select the last child of the parent container)
.paragraph:not(:last-of-type) {
  margin-bottom: 3rem;
}

// LIST
.list {
  list-style: none;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: var(--border);
  border-bottom: var(--border);

  // Use flexbox to align list items in two columns
  display: flex;
  flex-wrap: wrap; // Wrap the list items to allow elements to wrap to the next line

  // Set flex to 55% on odds and 45% on even to allow for padding between the two columns without effecting 100% total width
  &__item {
    flex: 0 0 55%;
    margin-bottom: .7rem; // Add margin bottom to space out the list items

    &:nth-child(even) {
      flex: 0 0 45%;

    }

    // Set flex to 100% for all items in a single column at small screen size
    @media only screen and (max-width: base.$bp-mobile-lg) {
      flex: 0 0 100%;

      &:nth-child(even) {
        flex: 0 0 100%; // Ensure even items are also reset to 100% width
      }
    }
  }

  &__item::before {
    content: ""; // Set content to empty string to create pseudo element
    display: inline-block; // Display as inline block to allow margin and padding and be on the same line
    height: 1rem;
    width: 1rem;
    margin-right: .7rem;

    // Older browsers
    // background-image: url(/img/chevron-thin-right.svg);
    // background-size: cover;

    // Newer browsers - masks (defines an area where we can look through an element and see what's behind it)
    // Set background to a solid color
    background-color: var(--color-primary);
    // Use mask-image to set the image
    -webkit-mask-image: url(/img/chevron-thin-right.svg);
    -webkit-mask-size: cover; // Similar to background size
    mask-image: url(/img/chevron-thin-right.svg);
    mask-size: cover; // Similar to background size
  }
}

// RECOMMEND
.recommend {
  font-size: 1.3rem;
  color: var(--color-grey-dark-3);
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__count {
    // margin-right: auto can also be used here instead of justify-content: space-between on the parent div
    padding-right: 2rem;
  }

  &__friends {
    display: flex; // Use flexbox to align and keep photos in a single row
  }

  &__photo {
    box-sizing: content-box; // Set back to default so the border is not included in the width / is around the image instead of inside and effecting its size
    height: 4rem;
    weight: 4rem;
    border-radius: 50%;
    border: 3px solid var(--color-white);

    // Make the photos overlap
    &:not(:last-child) {
      margin-right: -2rem;
    }
  }
}

// REVIEWS
.review {
  background-color: var(--color-white);
  box-shadow: (--shadow-light);
  padding: 3rem;
  margin-bottom: 3.5rem;
  position: relative; // For relative positioning of the before pseudo element
  overflow: hidden; // Hide the overflow of the pseudo element (before quotation mark)

  // Use flexbox to set a width for the review container and make sure it's responsive
  @media only screen and (max-width: base.$bp-medium) {
    display: flex;
    flex-direction: column;
    flex: 1 0 40%; // Grow as much as possible to take up remaining space, no shrink, and with a basis of 40% width to keep both reviews on the same line
    margin-bottom: 3rem; // Lower margin to match the rest of the design

    &:first-child {
      margin-right: 3rem; // Add a margin right to the first review now that the parent div is flex-direction: row
    }
  }

  // Set width to 90% at small screen size for flex-direction: column
  @media only screen and (max-width: base.$bp-small) {
    width: calc(100% - 6rem); // Use calc to make the review divs 100% wide minus the width of the parent container padding

    &:first-child {
      margin-right: 0; // Remove margin right from the first review now that the parent div is flex-direction: column again
    }
  }

  &__text {
    margin-bottom: 2rem;
    z-index: 10; // Set z-index to 10 to make sure it's on top of the pseudo element (before quotation mark)
    position: relative; // For z-index to work
  }

  &__user {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__photo {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    margin-right: 1.5rem;
  }

  &__user-box {
    margin-right: auto;
    min-width: 8rem;
  }

  &__user-name {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: .4rem;
  }

  &__user-date {
    font-size: 1rem;
    color: var(--color-grey-dark-3);
  }

  &__rating {
    color: var(--color-primary);
    font-size: 2.2rem;
    font-weight: 300;
    margin-left: 1.5rem;
  }

  &::before {
    content: "\201C"; // ISO number for html entity to use in CSS
    position: absolute;
    top: -2.75rem; // Up
    left: -1rem; // Left
    line-height: 1; // Line height to 1 to make sure the quote is vertically centered
    font-size: 20rem;
    color: var(--color-grey-light-2);
    font-family: sans-serif; // Use sans-serif font
    z-index: 1; // Small z-index to make sure it's behind the text
  }
}

// CTA
.cta {
  padding: 3rem 0;
  text-align: center;

  // Add padding to all sides starting at a small screen size
  @media only screen and (max-width: base.$bp-small) {
    padding: 3rem;
  }

  &__book-now {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2.5rem;

    @media only screen and (max-width: base.$bp-mobile-lg) {
      font-size: 1.75rem;
    }
  }
}

// CTA BUTTON
.btn {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 100px;
  border: none;
  background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
  color: var(--color-white);
  position: relative; // for position: absolute on invisible
  overflow: hidden; // Hide the invisible button
  cursor: pointer;

  // Use select all child elements to keep code DRY (for both visible and invisible buttons)
  & > * {
    display: inline-block; // to use padding and margin
    height: 100%;
    transition: all .2s; // Transition for the button hover effect
  }

  &__visible {
    padding: 2rem 7.5rem; // Padding ultimately determines the size of the button
  }

  &__invisible {
    position: absolute;
    padding: 2rem 0; // Use 0 padding left and right to center the button
    left: 0;
    top: -100%; // Shift the invisible button up by 100% of its height to put it on top of the visible button
    width: 100%;
  }

  // On hover, change the linear gradient from right to left (reverse)
  &:hover {
    background-image: linear-gradient(to left, var(--color-primary-light), var(--color-primary-dark));
    outline: none;
    animation: pulsate 1s infinite; // Use animation for pulsate effect, 1s duration, infinite loop
  }

  // On hover, move the visible button up
  &:hover &__visible {
    transform: translateY(100%); // Move the visible button up by 100% of its height to hide it on hover
  }

  &:hover &__invisible {
     top: 0; // Move the invisible button back to 0 to show it on hover
  }

  &:focus {
    outline: none;
    animation: pulsate 1s infinite; // Use animation for pulse effect, 1s duration, infinite loop
  }
}
